<div class="container">
    <h1>Add unit</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputName">Name:</label>
            <div class="controls">
                <input type="text" id="inputName" ng-model="unit.name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputSnippet">Snippet:</label>
            <div class="controls">
                <input type="text" id="inputSnippet" ng-model="unit.snippet"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="addUnit()" class="btn btn-small btn-primary">create new unit</a>
            </div>
        </div>
    </form>
</div>
