<ul class="units" ng-show="tab.isSet(1)">
  <li ng-repeat="unit in units | filter:query | orderBy:orderProp"
      class="thumbnail units-listing">
    <a href="#/units/{{unit.id}}" class="thumb"><img class="obrazek" ng-src="{{unit.imageUrl}}"></a>
    <a href="#/units/{{unit.id}}">{{unit.name}}</a>
    <p>{{unit.snippet}}</p>
    <!-- <a ng-click="editUnit(unit.id)" class="btn btn-small btn-primary">Edit</a> -->
    <!-- <a ng-click="deleteUnit(unit.id)" class="btn btn-small btn-danger">Delete</a> -->
  </li>
</ul>
