<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      Search: <input ng-model="query"></br>
      Sort by:
      <select ng-model="orderProp">
        <option value="age">Newest</option>
        <option value="name">Alphabetical</option>
        <option value="race">Race</option>
      </select>
    </br>

    <a  type="button" class="btn btn-default" ng-click="createNewUser()" >Add new</a>
    </div>
    <div class="col-md-10">
      <!--Body content-->
      <ul class="nav nav-pills">
        <li class="active"><a href="#/units">Home</a></li>
        <li><a href="#/units/zerg">Zergs</a></li>
        <li><a href="#/units/protoss">Protoss</a></li>
        <li><a href="#/units/terran">Terrans</a></li>
      </ul>
      <ul class="units">
        <li ng-repeat="unit in units | filter:query | orderBy:orderProp"
            class="thumbnail units-listing">
          <a href="#/units/{{unit.id}}" class="thumb"><img class="obrazek" ng-src="{{unit.imageUrl}}"></a>
          <a href="#/units/{{unit.id}}">{{unit.name}}</a>
          <p>{{unit.snippet}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
