<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="age">Newest</option>
        <option value="name">Alphabetical</option>
      </select>

    </div>
    <div class="col-md-10">
      <!--Body content-->
      <ul class="nav nav-pills">
        <li><a href="#/units">Home</a></li>
        <li><a href="#/units/zerg">Zergs</a></li>
        <li ><a href="#/units/protoss">Protoss</a></li>
        <li class="active"><a href="#/units/terran">Terrans</a></li>
      </ul>
      <ul class="units">
        <li ng-repeat="unit in unitsTerran | filter:query | orderBy:orderProp"
            class="thumbnail units-listing">
          <a href="#/units/{{unit.id}}" class="thumb"><img class="obrazek" ng-src="{{unit.imageUrl}}"></a>
          <a href="#/units/{{unit.id}}">{{unit.name}}</a>
          <p>{{unit.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
