<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
      Search: <input ng-model="query"></br>
      Sort by:
      <select ng-model="orderProp">
        <option value="age">Newest</option>
        <option value="name">Alphabetical</option>
        <option value="race">Race</option>
      </select>
    </br>
    <!-- <a  type="button" class="btn btn-default" href="#/add">Add new</a> -->
    </div>
    <units-tabs></unit-tabs>
  </div>
</div>
